html {
    min-width: 350px;
}
body {
    font-size: 16px;
    margin: 0;
}
a {
    color: #000000;
}

.to-options {
    background: #fafafa;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 50%);
    width: 100%;
    text-align: center;
    padding: 20px 5px 20px 5px;
    margin: 0 auto;
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.list {
    position: relative;
}
.list p {
    border-top: 2px solid #000000;    
    text-align: center;
    padding: 20px 5px 20px 5px;
    margin: 0;
}
.list .item {
    border-top: 2px solid #000000;      
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.list .item .title {
    word-break: break-word;
    min-width: 0;
    flex-basis: 80%;
    position: relative;
}