body {
    background: #fafafa;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
}

*,*::before,*::after {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    margin: 0 0 15px 0;
}
a {
    color: #000000;
    text-decoration: underline;
}
p {
    margin: 0 0 10px 0;
}
img {
    max-width: 100%;
    display: block;
}
hr {
    border: none;
    border-bottom: 1px dashed #dedede;
    width: calc(100% + 40px);
    margin: 20px -20px;
}

table {
    border: 1px solid #ccd0d4;
    border-spacing: 0;    
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    width: 100%;
}
table th {
    border-bottom: 1px solid #ccd0d4;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4em;
    text-align: left;
    padding: 8px 10px;
}
table td {
    font-size: 13px;
    line-height: 1.5em;
    padding: 8px 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    font-size: 14px;
    color: #555;
    line-height: 1.42857143; 
    width: 100%;
    height: 34px;
    display: block;
    padding: 6px 12px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    outline: 0;    
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

textarea {
    min-height: 250px;
    overflow-x: hidden;
    resize: vertical;
}

/* ютубовский чекбокс */
input[type="checkbox"] {
    background-color: #cccccc;
    outline: none;
    border-radius: 8px; 
    width: 36px;
    height: 14px;
    position: relative;
    cursor: pointer;
    -webkit-appearance: none;
}
input[type="checkbox"]::after {
    content: '';
    background: #909090;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -3px;
    left: 0;
    transition: 0.3s;
}
input[type="checkbox"]:checked::after {
    background:#2c3e50;
    left: 20px;
}

select {
    background-color: #ffffff;
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-size: 16px 16px;    
    background-position: right 5px top 55%;
    min-width: 70px;
    width: auto;
    padding-right: 25px;
    -webkit-appearance: none;
    cursor: pointer;
}

:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* кнопки */
.btn {
    background:#2c3e50;
    outline: none;
    border: none;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 16px;
    margin: 0;
    display: table;
    cursor: pointer;
    -webkit-appearance: none;
}
.btn.btn-second {
    font-size: 12px;
    text-transform: none;
    padding: 5px 10px;
}

/* контейнер */
.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

/* флекс элементы */
.f-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-row {
    display: flex;
    flex-wrap: wrap;
}
.f-right {
    display: flex;
    justify-content: flex-end;  
}

/* оформление */
.page-section {
    width: 100%;
    padding: 20px;
}
.s-style {
    border-bottom: 1px dashed #dedede;
}

/* главная обертка */
.site-wrap {
    background: #ffffff;
    box-shadow: -2px -1px 88px 0px rgb(0 0 0 / 17%);
    margin-top: 50px;
    margin-bottom: 50px;
}
.site-wrap .f-right {
    gap: 10px;
}

/* Шапка */
.header {
    justify-content: space-between;
    align-items: center;
}
.header .memory-state p {
    font-size: 14px;
    margin-bottom: 5px;
}
.header .memory-state progress {
    border: 0;
    width: 100%;
    height: 20px;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
}
.header .memory-state progress::-webkit-progress-bar {
    background: #D3D3D3;
    border-radius: 5px;
    overflow: hidden;
}
.header .memory-state progress::-webkit-progress-value {
    background: #2c3e50;
    transition : width 0.5s linear;
}
.header .memory-state progress::before,
.header .memory-state progress::after {
    font-weight: 300;
    font-size: 12px;
    color: #ffffff;
    mix-blend-mode: exclusion;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.header .memory-state progress::before {
    content: attr(value) ' KB';
    left: 5px;
}
.header .memory-state progress::after {
    content: attr(max) ' KB';
    right: 5px;
}

/* заголовки и подписи */
.title {
    font-size: 25px;
    font-weight: 600;    
    letter-spacing: 0.5px;
    margin: 0;
}
.sub-title {
    font-size: 21px;
    margin: 0 0 20px 0;
}
.caption {
    font-size: 12px;
}

/* обертка двух колонок */
.page-wrap {
    gap: 40px;
    padding: 20px; 
}
.page-wrap .left,
.page-wrap .right {
    min-width: 0;
    flex: 1;
}

/* поля формы */
.field-wrap {
    display: block;
    margin-bottom: 20px;
}
.field-wrap label {
    font-weight: 600;    
    display: block;
    margin: 0 0 10px 0;
}
.field-wrap label a {
    text-decoration: underline;
}
.field-wrap .CodeMirror {
    min-height: 50px;
    resize: vertical;
}
.field-wrap .CodeMirror-lines {
    padding: 4px 0;
}

.field-wrap .repeater-field {
    position: relative;
    margin-bottom: 10px;
}
.field-wrap .repeater-field .delete {
    background: #ffffff;
    border: 1px solid black;
    border-radius: 50%;
    line-height: 1px;
    text-decoration: none;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    right: -7.5px;
    transform: translateY(-50%);
}
.field-wrap .repeater-field .delete::before {
    content: '';
    background: #000000;    
    width: 7px;
    height: 1px;
    display: block;
}
.field-wrap .repeater-field .delete:hover {
    background: #f44336 !important;
    border-color: #f44336 !important;
}
.field-wrap .repeater-field .delete:hover::before {
    background: #ffffff !important; 
}

/* таблица скриптов */
.list-scripts tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
.list-scripts .manage {
    text-align: right;
    user-select: none;
}
.list-scripts .manage a,
.list-scripts .manage span {
    font-size: 20px;
	color: #444444;
	margin: 2px;
	cursor: pointer;
}

/* подвал */
.footer {
    text-align: center;
}

/* табы */
.tabs .tabs-header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.tabs .tabs-header .tab-btn {
    background: #D3D3D3;
    border-radius: 5px;
    color: #000000;
    padding: 0.5rem 0.75rem;
    margin-right: 10px;
    cursor: pointer;
}
.tabs .tabs-header .tab-btn.active {
    background: #ffffff;
    box-shadow: -2px -1px 88px 0px rgb(0 0 0 / 50%);
    cursor: default;
}
.tabs .tabs-header .tab-btn.disabled {
    background: #D3D3D3 !important;
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}
.tabs .tabs-header .tab-btn:not(.active):focus,
.tabs .tabs-header .tab-btn:not(.active):hover {
    background-color: #efefef;
}
.tabs .tabs-content .tab-content {
    display: none;
}
.tabs .tabs-content .tab-content.active {
    display: block;
}

/* блоки уведомлений */
.alert {
    background-color: #000000;
    color: #ffffff;
    max-width: 350px;    
    padding: 20px 35px 20px 20px;
    position: fixed;
    right: 20px;
    bottom: -100%;
    transition: all 0.2s;
}
.alert.success {
    background-color: #4CAF50;    
}
.alert.error {
    background-color: #f44336; 
}
.alert.warning {
    background-color: #ff9800;
}
.alert.info {
    background-color: #2196F3;
}
.alert .text {
    white-space: pre-line;
}
.alert .close {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;    
    line-height: 22px; 
    position: absolute;
    top: 17px;
    right: 12px;
    transition: 0.3s;
    cursor: pointer;    
}
.alert .close:hover {
    color: #000000;
}